# SPDX-FileCopyrightText: 2023 Guilherme Puida Moreira <guilherme@puida.xyz>
# SPDX-License-Identifier: BSD-3-Clause

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,h}]
indent_style = space
indent_size = 4
